<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="...static/styles/main-style.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <nav class="menu">
                <a href="index.html" class="menu_item">Главная</a>
                <a href="login.html" class="menu_item">Авторизация</a>
                <a href="registration.html" class="menu_item">Регистрация</a>
                <a href="developers.html" class="menu_item">Для разработчиков</a>
            </nav>
        </div>
    </div>
    <div class="index-content">
            <h1>Сайт для ведения<br> своих задач</h1>
            <a href="#">Регистрация</a>
            <a href="#">Войти</a>
    </div>
</body>

</html>