<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="\static\styles\main-style.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <nav class="menu">
                <a href="lol.html" class="menu_item">Главная</a>
                <a href="login.html" class="menu_item">О компании</a>
                <a href="registration.html" class="menu_item">FaQ</a>
                <a href="developers.html" class="menu_item">Связь</a>
            </nav>
        </div>
    </div>
    <div class="index-content">
            <h1>Сайт для работы<br> с изображениями</h1>
            <a href="index.html">Начать</a>
            

    </div>
    <div class="index-content about">
        <h1>О нас</h1>
        <p>Лолi</p>
        

</div>
<footer class="footer" id="footer"></footer>

</body>

<script src="\static\scripts\main.js"></script>

</html>