<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="\static\styles\main-style.css">
</head>

<body>
    <div class="header", id="header">
        <div class="container">
            <nav class="menu">
                <a href="#inst" class="menu_item">Инструкция</a>
                <a href="#about" class="menu_item">О Сайте</a>
                <a href="#faq" class="menu_item">FaQ</a>
                <a href="developers.html" class="menu_item">Связь</a>
            </nav>
        </div>
    <div class="returny verni" id="verni">
        <a href="#header">↑</a>
    </div>
    
    <div class="index-content">
            <h1>Сайт для работы<br> с изображениями</h1>
            <a href="index.html">Начать</a>
    </div>
    
    <div class="index-content inst" id="inst">
        <h1>Инструкция пользования</h1>
        <div>
            <h1>Основное</h1>
            <div class="image">
                <h2>dfgdfgd</h2>
                <h3>dfgdfgdfgd</h3>
                <p>hhfghfghfghfg</p>
            </div>
        </div>
        <div>
            <h1>Основное</h1>
            <div class="image">
                <h2>dfgdfgd</h2>
                <h3>dfgdfgdfgd</h3>
                <p class="ttt">hhfghfghfghfg</p>
            </div>
        </div>
    </div>

    <div class="index-content about" id="about">
        <h1>О нас</h1>
        <p>ImgMark - это сайт для работы с изображениями. Он позваляет оставлять пометки, коментарии на изображении и отправлять ссылку на неё</p>
    </div>
    <div class = "index-content faq" id="faq">
        <h1>Основное</h1>
        <h2>Сайт полностью бесплатен?</h2>
        <p>Да, сайт не как не монетизирован и абсолютно бесплатен в пользовани</p>
        <br>
        <br>
        <br>
        <h2>С какого возвраста можно пользоваться сайтом?</h2>
        <p>У нашего сайта нет возврастных ограничений</p>
        <br>
        <br>
        <br>
        <h2>Сайт требует регистрации?</h2>
        <p>Нет, для работы сайа регистрация не требуется</p>
        <br>
        <br>
        <br>
        <h2>С какого возвраста можно пользоваться сайтом?</h2>
        <p>У нашего сайта нет возврастных ограничений</p>
    </div>


</body>

<script src="\static\scripts\main.js"></script>

</html>