
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');



body{
    
    font-family: 'Bitter', serif;
    /* background-image: url("../img/Background.jpg"); */
    background-color: #f0f0f0;
    opacity: 1;
    background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #f0f0f0 25%);
    background-position:  16px 0, 16px 0, 0 0, 0 0;
    background-size: 16px 16px;
    background-repeat: repeat;
}
    


header, section, footer {
    background-color: rgba(255,255,255,0.9);
}

.list li {
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(168, 28, 28, 0.6);
    list-style: none;
}


.planet_image {
    width: 250px;
    padding: 0 50px 50px 50px;
    float: left;
}

.steve_image {
    width: 280px;
    padding: 0 60px 60px 60px;
    float: right;
}

/* Ну это короче верхняя панель */
.info{
    list-style: none;
    color: white;
    padding-left: 0;
}
.info span{
    color: blue;
}

.myNav li{
    padding: 0;
    font-size: 15px;
}
/*Это Об сервере*/

.about {
    padding-top: 220px;
}

.about h1{
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin: 50px auto;
}

.about h2{
    font-size: 40px;
    letter-spacing: 2px;
}

.about h3{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about ol{
    margin-top: 15px;
}
 
.about p, li {
    font-size: 20px;
    padding-top: 15px;
    text-align: justify;
}

.animRow{
    transform: translateX(-150%);
    animation: anim 1s forwards;
}

@keyframes anim{
    0%{transform: translateX(150%);}
    100%{transform: translateY(0);}
}

.animRow2{
    animation: ani2m 1s forwards;
    opacity: 0;
}

@keyframes ani2m{
      100%{
        opacity: 1;
      }
    }


/* Модификации */
.title h2{
    margin: 200px auto 50px;
    font-size: 70px;
    letter-spacing: 3px;
}



.glow-on-hover {
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.clearfix { clear: both; }

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}