/* цвета: 
светлый #EEEEEE
темный #3F3F3F
грин #53DF83
блу #47D2E9
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 20px 'Roboto', sans-serif;
    text-transform: none;
}

h1 {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    padding: 20px;
    text-transform: uppercase;

}

.about > h1 {
    text-align: center;
    color: #EEE;
}

.about > p {
    text-align: center;
    color: #EEEEEE;
}

.verni{
    position: fixed;
    bottom: 15px;
    right: 10px;
}

.verni > a{
    border-radius: 5px;
    color: #EEEEEE;
    background-color: #252c36;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.verni > a:hover{
    border: 1px solid #47D2E9;
    border-radius: 5px;
    color: #252c36;
    background-color: #47D2E9;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.5);
    padding: 10px;
    text-decoration: none;
    right: auto;
}
.faq > h3{
    color: white;
    size: 30px;
    font-size: 30px;
}

h2 {
    text-align: center;
    padding-bottom: 0px;
}


.container {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    background:radial-gradient(circle at top center, #1d555f, #252c36);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /* background: radial-gradient(circle at bottom center, #3389AA, #23a59a);
    border-radius: 20px; */
}

.menu_item {
    flex-basis: 0;
    flex-grow: 1;
    margin: 15px;
    padding: 10px;
    border: 1px solid #3F3F3F;
    color: #EEEEEE;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease;
    background:#252c36;
    font-size: 30px;
}

.menu_item:hover {
    border: 1px solid #47D2E9;
    border-radius: 5px;
    color: #252c36;
    background-color: #47D2E9;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.5);
}


.index-content {
    text-align: center;
    background-size: cover;
    background: linear-gradient(circle at top center, #307885, #252c36);
}

.main-container {
    margin: 50px 300px 0 300px;
    background-color: #252c36;
    border-radius: 30px; 
    padding: 40px 0 40px 0; 
}

.main-container > h1 {
    color: #CCC;
    font-size: 4rem;
    line-height: 5rem;
    padding: 50px 20px;
    margin-top: 100px;
}

.main-container > a {
    display: inline-block;
    color: #EEEEEE;
    background-color: #53DF83;
    padding: 35px;
    width: 230px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.4s ease;
    text-align: center
}




.index-content > a:hover {
    background-color: #47D2E9;
    color: #3F3F3F;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.index-content.about > h2, .index-content.faq > h2, .index-content.support > h2, .index-content.inst > h2 {
    padding: 50px;
    margin-top: 150px;
    font-size: 3.5rem;
    line-height: 6rem;
    color: #CCC;
}

.index-content.about-container {
    margin: 0 150px 0 150px;
    background-color: #252c36;
    border-radius: 30px;  
}

.index-content.about-container > p {
    font-size: 35px;
    height: 60vh;
    padding: 100px 0 50px 0;
    margin: 0 100px 0 100px;
    color: #CCC;
}

/* .circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: radial-gradient(circle at left center, #338caf, #28cabd);
} */

.index-content > h1, .index-content > h2:nth-child(1){
  animation: pulse 3s infinite 0.2s;
}
.index-content > h1, .index-content > h2:nth-child(1){
  animation: pulse 3s infinite 0.4s;
}
.index-content > h1, .index-content > h2:nth-child(1){
  animation: pulse 3s infinite 0.6s;
}
.index-content > h1, .index-content > h2:nth-child(1){
  animation: pulse 3s infinite 0.8s;
}
.index-content > h1, .index-content > h2:nth-child(1){
  animation: pulse 3s infinite 1s;
}

@keyframes pulse {
  0%, 100% {
    color: #CCC;
  }
  50% {
    color: #999;
  }
}

.index-content.faq-container {
    margin: 0 150px 0 150px;
    background-color: #252c36;
    border-radius: 30px; 
    padding: 40px 0 40px 0; 
}

.index-content.faq-container-1 {
    background-color: #f5424e22;
    margin: 20px 60px 40px 60px;
    padding: 30px 0 30px 0;
    border-radius: 20px;
}

.index-content.faq-container-2 {
    background-color: #f5f54222;
    margin: 40px 60px 40px 60px;
    padding: 30px 0 30px 0;
    border-radius: 20px;
}

.index-content.faq-container-3 {
    background-color: #42f55a22;
    margin: 40px 60px 20px 60px;
    padding: 30px 0 30px 0;
    border-radius: 20px;
}

.index-content.faq-container-1 > h3, 
.index-content.faq-container-2 > h3,
.index-content.faq-container-3 > h3 {
    color: #CCC;
    font-size: 2.2rem;
}

.index-content.faq-container-1 > p, .index-content.faq-container-2 > p, .index-content.faq-container-3 > p {
    color: #CCC;
    font-size: 1.7rem;
}




.index-content.support-container {
    margin: 0 150px 0 150px;
    background-color: #252c36;
    border-radius: 30px; 
    padding: 40px 0 40px 0;
}

.index-content.support-container-1 {
    background-color: #f5424e22;
    margin: 0 150px 0 150px;
    border-radius: 20px;
    padding: 40px 0 40px 0;
    margin-top: 20px;
}

.index-content.support-container-2 {
    background-color: #215FDB22;
    margin: 0 150px 0 150px;
    border-radius: 20px;
    padding: 40px 0 40px 0;
    margin-top: 20px;
}

.index-content.support-container-3 {
    background-color: #39FAFA22;
    margin: 0 150px 0 150px;
    border-radius: 20px;
    padding: 40px 0 40px 0;
    margin-top: 20px;
}

.index-content.support-container-1 > h3, 
.index-content.support-container-2 > h3,
.index-content.support-container-3 > h3 {
    color: #CCC;
    font-size: 2.2rem;
}

.index-content.support-container-1 > p, .index-content.support-container-2 > p, .index-content.support-container-3 > p {
    color: #CCC;
    font-size: 1.5rem;
}




.index-content.inst-container {
    margin: 0 150px 0 150px;
    background-color: #252c36;
    border-radius: 30px;
}

.index-content.inst-container-1 {
    text-align: left;
    font-size: 30px;
    color: #CCC;
    width: 606px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    width: 46%;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: 20px;
}

.index-content.inst-container-1img {
    background-image: url("../images/review-all.jpg");
    height: 300px;
    display: inline-block;
    position: relative;
    width: 46%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-position: center center;
}

.index-content.inst-container-2 {
    text-align: left;
    font-size: 30px;
    color: #CCC;
    width: 606px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    width: 46%;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 20px;
}

.index-content.inst-container-2img {
    background-image: url("../images/components.jpg");
    height: 650px;
    display: inline-block;
    position: relative;
    width: 46%;
    margin-bottom: 20px;
}

.index-content.inst-container-3img {
    background-image: url("../images/default-sm-comments.jpg");
    height: 330px;
    width: 720px;
    display: inline-block;
    position: absolute;
    left: 199px;
    background-position: center center;
}

.index-content.support {

}


form {
    max-width: 500px;
    margin: 20px auto;
    
}

.form_group > * {
    display: block;
    width: 100%;
    margin: 30px auto;
}

.form_group > input {
    padding: 10px;
    text-transform: none;
}

.form_group > #rememder, .rememder {
   display: inline;
   width: auto;
}

.form_group > input[type='submit'] {
    width: auto;
    padding: 10px 30px;
    background-color: #53DF83;
    border: 0px solid #53DF83;
    border-radius: 5px;
    cursor: pointer;
}

.form_group > input[type='submit']:hover {
    box-shadow: 0 0 5px rgba(22, 22, 22, 0.8);
}